---
import { formatDate } from "@utils/date";

interface Props {
  type: string;
  title: string;
  startDate?: string;
  endDate?: string;
}

const { type, title, startDate, endDate } = Astro.props;
---

<div
  class="grid grid-cols-1 gap-0 items-center justify-between sm:grid-cols-[max-content_1fr_max-content] sm:gap-2"
  role="group"
  aria-label={type}
>
  {title}
  <div class="hidden w-full h-[2px] bg-black sm:block" />
  <div class="flex items-center gap-1">
    {startDate && (
      <time datetime={startDate}>{formatDate(startDate)}</time>
      <div class="text-yellow">-</div>
    )}
    {endDate ? <time datetime={endDate}>{formatDate(endDate)}</time> : 'Present'}
  </div>
</div>
