---
import '../styles/global.css';

const pageTitle = "About Jacob Proffer";

const identity = {
    firstName: "Jacob",
    country: "United States",
    occupation: "Senior Front-End Developer",
    hobbies: [
        "Japanese",
        "trail running",
        "reading",
        "video games"
    ],
};

const skills = ["HTML", "CSS", "JavaScript"];

const skillColor = "#a5476f";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
        <style define:vars={{skillColor}}>
            .skill {
                color: var(--skillColor);
            }
        </style>
	</head>
	<body>
        <nav aria-label="primary">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about/">About</a>
                </li>
                <li>
                    <a href="/blog/">Blog</a>
                </li>
            </ul>
        </nav>
		<h1>{pageTitle}</h1>
        <ul>
            <li>My name is {identity?.firstName}</li>
            <li>I live in the {identity?.country}</li>
            <li>I work as a {identity?.occupation}</li>
            {identity.hobbies.length >= 2 &&
                <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
            }
        </ul>
        <h2>Skills</h2>
        <ul>
            {skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A nesciunt doloribus, vitae quisquam modi assumenda sunt nulla minus magni? Repellat suscipit quidem officia error hic iure, minima inventore! Ratione, incidunt.</p>
	</body>
</html>
