---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Jacob Proffer";
const identity = {
  firstName: "Jacob",
  country: "United States",
  occupation: "Senior Front-End Developer",
  hobbies: ["Japanese", "trail running", "reading", "video games"],
};
const skills = ["HTML", "CSS", "JavaScript"];
---

<BaseLayout pageTitle={pageTitle}>
  <ul class="p-0 m-0 list-none">
    <li>My name is {identity?.firstName}</li>
    <li>I live in the {identity?.country}</li>
    <li>I work as a {identity?.occupation}</li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}
        </li>
      )
    }
  </ul>
  <h2>Skills</h2>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A nesciunt
    doloribus, vitae quisquam modi assumenda sunt nulla minus magni? Repellat
    suscipit quidem officia error hic iure, minima inventore! Ratione, incidunt.
  </p>
</BaseLayout>
