---
import { formatDate } from "@utils/date";

interface Props {
  type: string;
  title: string;
  startDate?: string;
  endDate?: string;
  dark?: boolean;
}

const { type, title, startDate, endDate, dark } = Astro.props;
---

<div
  class="flex gap-x-5 gap-y-1 items-start justify-between pt-3 border-t border-gray border-solid max-md:flex-col"
>
  <h4 class:list={["md:text-xl", { "text-gray-600 dark:text-gray-400": dark }]}>
    {title}
  </h4>
  <div
    class:list={[
      "flex flex-wrap items-center gap-1",
      { "text-gray-600 dark:text-gray-400": dark },
    ]}
  >
    {
      startDate && (
        <>
          <time datetime={startDate}>{formatDate(startDate)}</time>
          <div>-</div>
        </>
      )
    }
    {
      endDate ? (
        <time datetime={endDate}>{formatDate(endDate)}</time>
      ) : (
        <span>Present</span>
      )
    }
  </div>
</div>
