---
import { formatDate } from "@utils/date";

interface Props {
  type: string;
  title: string;
  startDate?: string;
  endDate?: string;
}

const { type, title, startDate, endDate } = Astro.props;
---

<div
  class="flex gap-1 items-center justify-between p-3 bg-dark-blue border border-black border-t-highlight border-l-highlight max-md:flex-col max-md:items-start"
  role="group"
  aria-label={type}
>
  <h4 class="text-light-blue text-balance leading-6">{title}</h4>
  <div class="flex items-center gap-1">
    {startDate && (
      <time datetime={startDate}>{formatDate(startDate)}</time>
      <div class="text-light-blue">-</div>
    )}
    {endDate ? <time datetime={endDate}>{formatDate(endDate)}</time> : 'Present'}
  </div>
</div>
