---
import { formatDate } from "@utils/date";

interface Props {
  type: string;
  title: string;
  startDate?: string;
  endDate?: string;
}

const { type, title, startDate, endDate } = Astro.props;
---

<div
  class="flex gap-5 items-start justify-between pt-3 border-t border-gray border-solid"
>
  <h4>{title}</h4>
  <div class="flex flex-wrap items-center gap-1">
    {
      startDate && (
        <>
          <time datetime={startDate}>{formatDate(startDate)}</time>
          <div>-</div>
        </>
      )
    }
    {
      endDate ? (
        <time datetime={endDate}>{formatDate(endDate)}</time>
      ) : (
        <span>Present</span>
      )
    }
  </div>
</div>
