---
import AboutSection from "@components/AboutSection.astro";
import DateItem from "@components/DateItem.astro";
import TertiaryHeadline from "@components/TertiaryHeadline.astro";

const experienceItems = [
  {
    company: "Sullivan",
    positions: [
      {
        position: "Developer",
        startDate: "2025-01",
        endDate: "",
      },
    ],
  },
  {
    company: "Elegant Seagulls",
    positions: [
      {
        position: "Senior Front-End Developer",
        startDate: "2021-10",
        endDate: "2025-01",
      },
      {
        position: "Front-End Developer",
        startDate: "2015-12",
        endDate: "2021-10",
      },
      { position: "Intern", startDate: "2015-09", endDate: "2015-12" },
    ],
  },
];
---

<AboutSection secondaryHeadline="Experience">
  {
    experienceItems?.length && (
      <ol class="grid gap-3 m-3">
        {experienceItems.map((item) => (
          <li class="grid gap-3 p-3 bg-mid-blue  border-1 border-black border-t-highlight border-l-highlight">
            <TertiaryHeadline text={item.company} />
            {item.positions?.length &&
              (item.positions.length === 1 ? (
                <DateItem
                  type="Experience"
                  title={item.positions[0].position}
                  startDate={item.positions[0].startDate}
                  endDate={item.positions[0].endDate}
                />
              ) : (
                <ol class="grid gap-3">
                  {item.positions.map((position) => (
                    <li>
                      <DateItem
                        type="Experience"
                        title={position.position}
                        startDate={position.startDate}
                        endDate={position.endDate}
                      />
                    </li>
                  ))}
                </ol>
              ))}
          </li>
        ))}
      </ol>
    )
  }
</AboutSection>
