---
import AboutSection from "@components/AboutSection.astro";
import DateItem from "@components/DateItem.astro";
import TertiaryHeadline from "@components/TertiaryHeadline.astro";
import { getCollection } from "astro:content";

// Load experience from content collection
const experienceItems = await getCollection("experience");
// Sort by order field
const sortedExperience = experienceItems.sort(
  (a, b) => a.data.order - b.data.order
);
---

<AboutSection secondaryHeadline="Experience">
  {
    sortedExperience?.length && (
      <ol class="grid gap-3 m-3">
        {sortedExperience.map((item) => (
          <li class="grid gap-3 p-3 bg-mid-blue  border border-black border-t-highlight border-l-highlight">
            <TertiaryHeadline text={item.data.company} />
            {item.data.positions?.length &&
              (item.data.positions.length === 1 ? (
                <DateItem
                  type="Experience"
                  title={item.data.positions[0].position}
                  startDate={item.data.positions[0].startDate}
                  endDate={item.data.positions[0].endDate}
                />
              ) : (
                <ol class="grid gap-3">
                  {item.data.positions.map((position) => (
                    <li>
                      <DateItem
                        type="Experience"
                        title={position.position}
                        startDate={position.startDate}
                        endDate={position.endDate}
                      />
                    </li>
                  ))}
                </ol>
              ))}
          </li>
        ))}
      </ol>
    )
  }
</AboutSection>
