---
import Section from "@components/Section.astro";
import Project from "@components/Project.astro";
import personalBlogImage from "@images/personal_blog.jpg";
import deadMansBrewImage from "@images/tickets.jpg";
import weylandYutaniImage from "@images/weyland-yutani.jpg";
import whatisJacobPlayingImage from "@images/what_is_jacob_playing.jpg";

interface Props {
  headline: string;
}

const { headline } = Astro.props;

const projects = [
  {
    url: "https://jacobproffer.com/",
    title: "Personal Blog",
    description:
      "Hugo theme built with SCSS, JavaScript, and Greensock Animation Platform.",
    tags: ["hugo", "scss", "javascript"],
    thumbnail: personalBlogImage,
    thumbnailAlt: "",
  },
  {
    url: "https://tickets.proffer.dev/",
    title: "Dead Man's Brew",
    description:
      "Hugo theme built with SCSS, JavaScript, and Greensock Animation Platform.",
    tags: ["hugo", "scss", "javascript"],
    thumbnail: deadMansBrewImage,
    thumbnailAlt: "",
  },
  {
    url: "https://weyland-yutani.proffer.dev/",
    title: "Weyland Yutani",
    description:
      "Hugo theme built with SCSS, JavaScript, and Greensock Animation Platform.",
    tags: ["hugo", "scss", "javascript"],
    thumbnail: weylandYutaniImage,
    thumbnailAlt: "",
  },
  {
    url: "https://whatisjacobplaying.com/",
    title: "What is Jacob Playing",
    description:
      "Single page website built with Next.js and the Steam Web API to track user data.",
    tags: ["next.js", "styled-components"],
    thumbnail: whatisJacobPlayingImage,
    thumbnailAlt: "",
  },
];
---

<Section headline={headline}>
  <ol class="border-black border-b-1 border-r-1 border-l-1">
    {
      projects.map((post: any, index: number) => (
        <li class="border-t-1 border-black">
          <Project
            url={post.url}
            headline={post.title}
            description={post.description}
            tags={post.tags}
            thumbnail={post.thumbnail}
            thumbnailAlt={post.thumbnailAlt ?? ""}
            lazyLoaded={index === 0 ? false : true}
          />
        </li>
      ))
    }
  </ol>
</Section>
