---
import { Image } from "astro:assets";

interface Props {
  thumbnail: ImageMetadata;
  thumbnailAlt: string;
  headline: string;
  description?: string;
  url: string;
  tags?: Array<string>;
}

const { thumbnail, thumbnailAlt, headline, description, url, tags } = Astro.props;
---

<div class="relative grid gap-3">
  {thumbnail && (
    <div class="bg-orange aspect-project pt-2 px-2 rounded-lg overflow-hidden">
      <Image
        class="dynamic-loading-image w-full h-full object-contain"
        src={thumbnail}
        alt={thumbnailAlt}
        loading="lazy"
        data-image
      />
    </div>
  )}
  <div class="grid gap-1">
    {headline && (
      <a
        class="focus:outline-none focus:before:outline-orange focus:before:outline-dashed focus:before:outline-offset-1 focus:before:outline-1 before:absolute before:top-0 before:left-0 before:w-full before:h-full z-10"
        href={url}
        target="_blank"
      >
        <h3 class="text-md">{headline}</h3>
      </a>
    )}
    {description && <p class="text-gray">{description}</p>}
    {tags && (
      <ul class="flex gap-2">
        {tags.map((tag: string) => (
          <li class="px-1 rounded-md border-gray border">{tag}</li>
        ))}
      </ul>
    )}
  </div>
</div>

<script>
  document.addEventListener("astro:page-load", () => {
    const dynamicImages = document.querySelectorAll("[data-image]");

    const observer = new IntersectionObserver(
      (entries, observer) => {
        entries.forEach((entry) => {
          const image = entry.target;

          if (entry.isIntersecting) {
            // Switch to eager loading for images in the viewport
            image.setAttribute("loading", "eager");
            observer.unobserve(image);
          }
        });
      },
      { threshold: 0.1 }
    );

    dynamicImages.forEach((image) => observer.observe(image));
  });
</script>
