---
import Section from "./Section.astro";
import Project from "./Project.astro";
const allProjects = Object.values(
  import.meta.glob("../pages/projects/*.md", { eager: true })
);
const { headline, topSpacing } = Astro.props;
---

<Section headline={headline}>
  <ol class=`grid gap-x-4 gap-y-7 ${topSpacing ? 'pt-8' : ''}`>
    {
      allProjects.map((post: any) => (
        <li>
          <Project
            url={post.url}
            headline={post.frontmatter.title}
            description={post.frontmatter.description}
            tags={post.frontmatter.tags}
            thumbnail={post.frontmatter.image.url}
            thumbnailAlt={post.frontmatter.image.alt ?? ""}
          />
        </li>
      ))
    }
  </ol>
</Section>
