---
import { Image } from "astro:assets";
import TertiaryHeadline from "./TertiaryHeadline.astro";

interface Props {
  thumbnail: ImageMetadata;
  thumbnailAlt: string;
  headline: string;
  url: string;
  tags?: Array<string>;
}

const { thumbnail, thumbnailAlt, headline, url, tags } = Astro.props;
---

<a class="relative grid items-start gap-y-5" href={url} target="_blank">
  {
    thumbnail && (
      <div class="aspect-project overflow-hidden">
        <Image
          class="w-full h-full object-contain"
          src={thumbnail}
          alt={thumbnailAlt}
          widths={[400, 800, 1200, 1600]}
          sizes="(max-width: 640px) 100vw, (max-width: 1024px) 50vw, 33vw"
          loading="lazy"
          quality="mid"
        />
      </div>
    )
  }
  <div class="flex flex-col gap-1">
    {headline && <TertiaryHeadline text={headline} />}
    {
      tags && (
        <ul class="flex flex-wrap gap-2">
          {tags.map((tag: string) => (
            <li>{tag}</li>
          ))}
        </ul>
      )
    }
  </div>
</a>
