---
import { Image } from "astro:assets";
import TertiaryHeadline from "./TertiaryHeadline.astro";

interface Props {
  thumbnail: ImageMetadata;
  thumbnailAlt: string;
  lazyLoaded: boolean;
  headline: string;
  description?: string;
  url: string;
  tags?: Array<string>;
}

const {
  thumbnail,
  thumbnailAlt,
  lazyLoaded,
  headline,
  description,
  url,
  tags,
} = Astro.props;
---

<a
  class="relative grid gap-3 p-3 bg-mid-blue outline-none focus:outline-light-blue focus:outline-dashed focus:outline-1 hover:bg-dark-blue transition-colors duration-300"
  href={url}
  target="_blank"
>
  {
    thumbnail && (
      <div class="aspect-project border border-black overflow-hidden">
        <Image
          class="dynamic-loading-image w-full h-full object-contain"
          src={thumbnail}
          alt={thumbnailAlt}
          widths={[297, 686, 898, thumbnail.width]}
          sizes={`(max-width: 375px) 297px, (max-width: 768px) 686px, (max-width: 1440px) 898px, ${thumbnail.width}px`}
          loading={lazyLoaded ? "lazy" : "eager"}
          data-image
        />
      </div>
    )
  }
  <div class="grid gap-1">
    {headline && <TertiaryHeadline text={headline} />}
    {description && <p>{description}</p>}
    {
      tags && (
        <ul class="flex gap-2 mt-3">
          {tags.map((tag: string) => (
            <li class="px-3 text-light-blue bg-dark-blue border-black border border-t-highlight border-l-highlight">
              {tag}
            </li>
          ))}
        </ul>
      )
    }
  </div>
</a>
