---
import Section from "./Section.astro";
import Project from "./Project.astro";
const { headline, topSpacing } = Astro.props;

const projects = [
  {
    url: "https://jacobproffer.com/",
    title: "Personal Blog",
    description:
      "Hugo theme built with SCSS, JavaScript, and Greensock Animation Platform.",
    tags: ["hugo", "scss", "javascript"],
    thumbnail: "/images/personal_blog.jpg",
    thumbnailAlt: "",
  },
  {
    url: "https://tickets.proffer.dev/",
    title: "Dead Man\'s Brew",
    description:
      "Hugo theme built with SCSS, JavaScript, and Greensock Animation Platform.",
    tags: ["hugo", "scss", "javascript"],
    thumbnail: "/images/tickets.jpg",
    thumbnailAlt: "",
  },
  {
    url: "https://weyland-yutani.proffer.dev/",
    title: "Weyland Yutani",
    description:
      "Hugo theme built with SCSS, JavaScript, and Greensock Animation Platform.",
    tags: ["hugo", "scss", "javascript"],
    thumbnail: "/images/weyland-yutani.jpg",
    thumbnailAlt: "",
  },
  {
    url: "https://whatisjacobplaying.com/",
    title: "What is Jacob Playing",
    description:
      "Single page website built with Next.js and the Steam Web API to track user data.",
    tags: ["next.js", "styled-components"],
    thumbnail: "/images/what_is_jacob_playing.jpg",
    thumbnailAlt: "",
  },
];
---

<Section headline={headline}>
  <ol class=`grid gap-x-4 gap-y-7 ${topSpacing ? 'pt-8' : ''}`>
    {
      projects.map((post: any) => (
        <li>
          <Project
            url={post.url}
            headline={post.title}
            description={post.description}
            tags={post.tags}
            thumbnail={post.thumbnail}
            thumbnailAlt={post.thumbnailAlt ?? ""}
          />
        </li>
      ))
    }
  </ol>
</Section>
