---
import { Image } from "astro:assets";
import TertiaryHeadline from "./TertiaryHeadline.astro";

interface Props {
  thumbnail: ImageMetadata;
  thumbnailAlt: string;
  headline: string;
  url: string;
  description?: string;
}

const { thumbnail, thumbnailAlt, headline, url, description } = Astro.props;
---

<a class="relative grid items-start gap-y-5" href={url} target="_blank">
  {
    thumbnail && (
      <div class="aspect-project overflow-hidden">
        <Image
          class="w-full h-full object-contain"
          src={thumbnail}
          alt={thumbnailAlt}
          widths={[400, 800, 1200, 1600]}
          sizes="(max-width: 640px) 100vw, 50vw"
          loading="lazy"
          quality="mid"
        />
      </div>
    )
  }
  <div class="flex flex-col gap-4">
    {headline && <TertiaryHeadline text={headline} />}
    {description && <p class="max-w-prose text-gray">{description}</p>}
  </div>
</a>
