---
import { Image } from "astro:assets";

interface Props {
  thumbnail: ImageMetadata;
  thumbnailAlt: string;
  lazyLoaded: boolean;
  headline: string;
  description?: string;
  url: string;
  tags?: Array<string>;
}

const {
  thumbnail,
  thumbnailAlt,
  lazyLoaded,
  headline,
  description,
  url,
  tags,
} = Astro.props;
---

<a
  class="relative grid gap-3 outline-none transition-transform duration-300 transform hover:scale-105 dark:hover:text-white focus:outline-black dark:focus:outline-orange focus:outline-dashed focus:outline-offset-1 focus:outline-1"
  href={url}
  target="_blank"
>
  {
    thumbnail && (
      <div class="bg-orange aspect-project pt-2 px-2 rounded-lg overflow-hidden">
        <Image
          class="dynamic-loading-image w-full h-full object-contain"
          src={thumbnail}
          alt={thumbnailAlt}
          loading={lazyLoaded ? "lazy" : "eager"}
          data-image
        />
      </div>
    )
  }
  <div class="grid gap-1">
    {headline && <h3 class="text-md">{headline}</h3>}
    {description && <p>{description}</p>}
    {
      tags && (
        <ul class="flex gap-2">
          {tags.map((tag: string) => (
            <li class="px-1 rounded-md border-black dark:border-gray border">
              {tag}
            </li>
          ))}
        </ul>
      )
    }
  </div>
</a>
